#title{
    text-align: center;
}
#article1{
    margin-right: 15px;
    margin-left: 15px;
    border-left: 5px solid yellow;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 17px 18px 20px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 17px 18px 20px 0px rgba(0,0,0,0.38);
    box-shadow: 17px 18px 20px 0px rgba(0,0,0,0.38);

}
#principal{
    display: flex;

}