body{
    background-color: black;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title{
    text-align: center;
    font-size: 50px;
    text-shadow: 4px 4px 4px #FF068D;
}
#article_title{
    margin-top: 0%;
}
#article1{
    margin-right: 15px;
    margin-left: 15px;
    border-left: 7px solid rgba(255,06,141);
    border-radius: 10px;
    padding: 15px;
    background-color: black;   
    -webkit-box-shadow: 17px 18px 59px 0px rgba(255,06,141,0.42);
    -moz-box-shadow: 17px 18px 59px 0px rgba(255,06,141,0.42);
    box-shadow: 17px 18px 59px 0px rgba(255,06,141,0.42);
    font-size: 25px;

}
#principal{
    display: flex;
}
#principal_txt{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}
#article2{
    margin-top: 50px;
    margin-right: 15px;
    margin-left: 15px;
}
.div_combos{
    display: flex;
}
.sect_combos{
    text-align: justify;
    margin-right: 15px;
    margin-bottom: 15px;
    border-top: 7px solid rgba(255,06,141);
    border-radius: 10px;
    padding: 15px;
    background-color: black;
    -webkit-box-shadow: 17px 18px 59px 0px rgba(255,06,141,0.42);
    -moz-box-shadow: 17px 18px 59px 0px rgba(255,06,141,0.42);
    box-shadow: 17px 18px 59px 0px rgba(255,06,141,0.42);
    font-size: 20px;
    width: 33%;
}
#title_depoimento {
    margin-right: 999px;
    padding: 5px;
    border: solid 1.5px rgba(255, 06, 141);
    -webkit-box-shadow: 17px 18px 59px 0px rgba(255, 06, 141,0.42);
    -moz-box-shadow: 17px 18px 59px 0px rgba(255, 06, 141,0.42);
    box-shadow: 17px 18px 59px 0px rgba(255, 06, 141,0.42);
}
.div_depoimento {
    display: flex;
    padding: 7px;
    border-left: solid 7px rgba(255, 06, 141);
    -webkit-box-shadow: 17px 18px 59px 0px rgba(255, 06, 141,0.42);
    -moz-box-shadow: 17px 18px 59px 0px rgba(255, 06, 141,0.42);
    box-shadow: 17px 18px 59px 0px rgba(255, 06, 141,0.42);
    margin-top: 20px;
    margin-right: 10px;
}
#h3_depoimentos {
    display: flex;
    align-items: center;
}

footer{
    margin-top: 30px;
    margin: 0%;
}