div{
    text-align: center;
}

body{
    background-color: black;
}
#texto{
    color: rgb(245, 94, 145);
    font-size: larger;
    font-family:serif;
    margin-top: 5px;
    text-align: center;
}
#botao{
   text-align: center;
    background-color:rgb(245, 94, 145) ;
}
#centro{
    text-align: center;
}