<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../layouts/header.css">
    <title>header</title>
</head>

<body>
    <header>
        <div class="container">
            <a href="../Index.html" class="logo" target="_parent">
                <img src="../assets/images/PINAS.png" width="64px" height="64px">
            </a>
        </div>
        <div class="container">
            <nav>
                <ul>
                    <li><a id="firstlink" href="../Index.html" target="_parent">Início</a></li>
                    <li><a href="../pages/feedback.html" target="_parent">Feedback</a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>

</html>
</body>

</html>