<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="header.css">
        <title>Header</title>
    </head>
    
    <body>
        <header>
            <img href="../assets/">
            <nav>
                <li>
                    <ul href="../Index.html">Início</ul>
                    <ul href="../pages/feedback.html">Feedback</ul>
                </li>
            </nav>
        </header>
    </body>
    </html>
</body>
</html>